@import url("fa/css/all.min.css");

html, body, div, span, 
table, thead, tbody, tr, td, th, 
h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, b, u, i,
dl, dt, dd, ol, ul, li,
form, label, legend, article, aside, canvas, details, 
embed, header, hgroup, footer, menu, nav, section, summary,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
a, a:active, a:hover, a:focus {
    color: #fff;
}
html {
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
}
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #9ec6f3;
    background: #000;
    width: 100%;
    height: 100%;
    color: #fff;
}
.hidden {
    display: none;
}
.alignmiddle {
    text-align: center;
    vertical-align: middle;
}
div.nopanels {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 3em;
}
div.container {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}
#lastupdated {
    font-size: 0.75em;
    color: #777;
    display: inline-block;
    position: absolute;
    padding: 0.25em;
    bottom: 0;
    right: 0;
}
table.panel {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
table.panel tr.spacing td {
    height: 1px !important;
}
table.panel tr td.spacing {
    width: 1px !important;
}
table.panel td {
    vertical-align: middle;
}
table.panel td svg {
    vertical-align: middle;
}
